{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horario.id }}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{% if horario.horaSalida %}{{ horario.horaSalida|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lugardellegada</th>
                <td>{{ horario.lugarDeLlegada }}</td>
            </tr>
            <tr>
                <th>Lugardesalida</th>
                <td>{{ horario.lugarDeSalida }}</td>
            </tr>
            <tr>
                <th>Horadellegada</th>
                <td>{% if horario.horaDeLlegada %}{{ horario.horaDeLlegada|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_index') }}">Regresar a la lista.</a>
        </li>
        <li>
            <a href="{{ path('horario_edit', { 'id': horario.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
